* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Box model */
  }
  
  body {
    background: #ece93d;
    background: -webkit-linear-gradient(to left, #c276a5, #117cbb, #bbd2c5);
    background: linear-gradient(to left, #d43d3d, #6a32ec, #25c269);
}